@page "/outstandingorders"


@attribute [Authorize]

@inject IViewOutstandingOrdersUseCase viewOutstandingOrdersUseCase


<h3>Outstanding Ordes</h3>
<br />

<OrderListComponent Orders="orders"></OrderListComponent>

@code {
    private IEnumerable<Order> orders;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        orders = viewOutstandingOrdersUseCase.Execute();
    }
}
