@typeparam TItem

<h3>Templated Component</h3>

<p>
    @Header
    <div>
        @foreach (var item in Items)
        {
            @ReapeaterItem(item)
        }
    </div>
    This is a Blazor Course, helps understande how Blazor works.
    <br />
    @Footer
</p>

@code {


    [Parameter]
    public RenderFragment Header { get; set; }

    [Parameter]
    public RenderFragment Footer { get; set; }

    [Parameter]
    public List<TItem> Items { get; set; }

    [Parameter]
    public RenderFragment<TItem> ReapeaterItem { get; set; }
}
