@page "/products"

@inject ISearchProduct searchProduct;

<h3>Search Products</h3>
<br />

<SearchBarComponent OnSearch="HandleSearch"></SearchBarComponent>

<br />
<table>
    <thead>
        <tr>
            <th>@nameof(Product.Name)</th>
            <th>@nameof(Product.Brand)</th>
            <th>@nameof(Product.Price)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in products)
        {
            @if(product != null)
            {
                <ProductItemComponent Product="product"></ProductItemComponent>
            }
            else
            {
                <tr>
                    <td colspan="3">
                        Cannot find the products
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<ul>
    @foreach (var prod in products)
    {
        <li>@prod.Name</li>
    }

</ul>

@code {
    private IEnumerable<Product> products;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        products = searchProduct.Execute();
    }

    private void HandleSearch(string filter)
    {

    }

}
