@page "/products"

@inject ISearchProduct searchProduct;

<h3>Search Products</h3>
<br />

<SearchBarComponent OnSearch="HandleSearch"></SearchBarComponent>

<ul>
    @foreach (var prod in products)
    {
        <li>@prod.Name</li>
    }
    
</ul>

@code {
    private IEnumerable<Product> products;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        products = searchProduct.Execute();
    }

    private void HandleSearch(string filter)
    {
        
    }

}
