@implements IDisposable

@inject IShoppingCartStateStore shoppingCartStateStore

<div>
    Cart:&nbsp;@lineItemsCount
</div>

@code {
    private int lineItemsCount = 0;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            shoppingCartStateStore.AddStateChangeListener(HandleShoppingCartStateChange);

            lineItemsCount = await shoppingCartStateStore.GetItemsCountAsync();
        }
    }

    private async void HandleShoppingCartStateChange()
    {
        lineItemsCount = await shoppingCartStateStore.GetItemsCountAsync();
        StateHasChanged();
    }

    public void Dispose()
    {
        shoppingCartStateStore.RemoveStateChangeListener(HandleShoppingCartStateChange);
    }
}
